
h2{
    padding-bottom: 10px;
}

body{
    padding-bottom: 40px;
    background-color: #eee;
    font-family: Russia, cursive;

}


.input {
    background: #fff;
    padding: 10px;
    /* закруглим края у поля ввода */
    border-radius: 11px;
    width: 200px;
    font-family: Russia, cursive;
}

.input-radio{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 7px;
}

label{
    margin-left: 10px;
}

button {

    width: auto;

    background-color: #007bff;
    border: 1px solid #007bff;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-top: 12px;
    border-radius: 5px;
    font-family: Russia, cursive;
    font-size: 16px;


}


button:hover {
    background-color: #3c85e7;
}




































